body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.sidebar {
	position: absolute;
	width: 210px;
	height: 100%;	
	background: #333;
	color: #fff;
    outline:  1px solid #2a2a2a;
}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar h2 {
	text-align: center;
	margin: 10px;
	background: #2a2a2a;
	
}
.sidebar li {
	outline:  1px solid #2a2a2a;
    transition-property: border;
    transition-duration: 0.3s;
}
.sidebar li:hover {
	background: #444;
    border-left: 5px solid #eee;
	
}
.sidebar a {
	display: block;
	color: #FFFFFF;
	padding: 10px;
	text-decoration: none;
}
.contenido {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #eee;
    padding: 30px;
    transition: all 0.3s;
}
.menu-bar {
	cursor: pointer;
}
.abrir {
	transform: translateX(210px);
}